---
layout: default
---

    <!-- Home Page
    ==========================================-->
    <div class="text-center" style="With:auto;height:500px; background-color:#009688; box-shadow:0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);">
        <div class="content" style="text-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);">
             
                <h1><span Style="color:rgba(255,255,255,.8);">Nauman Umer</span></h1>
                <p class="lead" style="color:#B2DFDB">We talk with <strong>Machines</strong></p>
          </div>
    </div>

    <!-- About Us Page
    ==========================================-->
    <div id="tf-about">
        <div class="container">
            <div class="row">
                <!--<div class="col-md-6 text-center player-holder">
<div class="player-thumb"></div>
                    <img src="img/portfolio/08.jpg" class="img-circle-responsive">
                </div>-->
                <div class="">
                    <div class="about-text">
                        <div class="section-title text-center center">
                            <h4>About Me</h4>
                            <div class="line"></div>
                            <div class="clearfix"></div>
                        </div>
                        <p class="intro" style="padding:0 12px 0 12px; text-align: justify;">I love building and rebuilding brands through my specific skills. Using colour, fonts, and illustration. I love helping peoples like me.</p>
                        <ul class="about-list" style="padding-left:0 12px 0 12px">
                            <li>
                                <span class="fa fa-dot-circle-o"></span>
                                <strong>Mission</strong> - <em>I deliver uniqueness and quality</em>
                            </li>
                            <li>
                                <span class="fa fa-dot-circle-o"></span>
                                <strong>Skills</strong> - <em>Delivering fast and excellent results</em>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

   
{% include portfolio.html %}
    {% include contact.html %}
