---
layout: default
title: Projects
---
<ol class="breadcrumb">
  <li><a href="http://naumanumer.github.io/">Home</a></li>
  <li class="active">Projects</li>
</ol>

<div class="container">
<div class="section-title text-center">
                            <h4>Projects</h4>
                            <div class="line">
</div>
                            <div class="clearfix"></div>
                        </div>
<p class="intro" style="padding:0 12px 0 12px; text-align: justify;">
There are following some of my projects:
</p>
                        
	{% assign projects = site.data.projects | sort %}
	
<div class="content-grid mdl-grid">	{% for project in projects reversed %}
		{% assign projectData = project[1] %}


<div class="mdl-shadow--1dp" style="width:100%; margin:30px 0 30px 0;">
    <h2 class="mdl-card__title-text">{{ projectData.title }}</h2>

<span class="">Nauman Umer</span>
    {% if projectData.tags %} | 
  {% assign taglenght= (projectData.tags | size) %}
        {% for tag in (0..taglenght) %}
        {% if projectData.tags[tag] %}
        <span class="mdl-chip">
    <span class="mdl-chip__text"><small>{{projectData.tags[tag]}}</small></span>
</span>
        {% endif %}
        {% endfor %} 
    {% endif %}

    <article>
      {{ projectData.desc | markdownify }}
    </article>
    <div class="pull-right">
    <a class="mdl-button mdl-js-button mdl-button--primary mdl-button--raised mdl-js-ripple-effect" href="/projects/{{projectData.name}}">
  <i class="material-icons">visibility</i> Read More
</a>
<a class="mdl-button mdl-js-button mdl-button--primary mdl-button--raised mdl-js-ripple-effect" href="/projects/{{projectData.name}}" target="_blank">
  <i class="material-icons">launch</i> OpenSite
</a>
</div>
</div>

<div class="android-drawer-separator" style="margin:75px 0"></div>


  
   

        {% endfor %}
</div>
</div>
