<!-- Contact Section
    ==========================================-->
    <section class="text-center">
        <div class="container">

            <div class="row">
                <div class="col-md-8 col-md-offset-2">

                    <div class="section-title center">
                        <h4>contact me</h2>
                        <div class="line">
                            
                        </div>
                        <div class="clearfix"></div>            
                    </div>
<form action="https://formspree.io/u.nauman@outlook.com" method="POST">
                     <p><strong>Note: </strong>All the required fields are marked as <i class="fa fa-check"></i>.</p>
                         <div class="row">
                              <div class="col-md-6">
                                  <div class="form-group">
                                      <div class="input-group">
 -                                        <input type="tel" class="form-control" name="Name" placeholder="Your Name">
 +                                        <input type="text" class="form-control" name="Name" placeholder="Your Name" required="True">
                                          <span class="input-group-addon lead" id="basic-addon1"><i class="fa fa-check"></i></span>
                                      </div>
                                  </div>
                              </div>
                              <div class="col-md-6">
                                  <div class="form-group">
                                      <div class="input-group">
 -                                        <input type="email" class="form-control" name="Email" placeholder="Email">
 +                                        <input type="email" class="form-control" name="Email" placeholder="Email" required="True">
                                          <span class="input-group-addon lead" id="basic-addon1"><i class="fa fa-check"></i></span>
                                      </div>
                                  </div>
                              </div>
                          </div>
                          <div class="form-group">
                              <div class="input-group">
 -                                <textarea class="form-control" rows="3" name="Message" placeholder="Your message here"></textarea>
 +                                <textarea class="form-control" rows="3" name="Message" placeholder="Your message here" required="True"></textarea>
                                  <span class="input-group-addon lead" id="basic-addon1"><i class="fa fa-check"></i></span>
                              </div>
                              
                         </div>
                         
                         <button type="submit" class="btn tf-btn btn-default">Submit</button>
                     </form>
                    <form action="https://formspree.io/u.nauman@outlook.com" method="POST">
                    <p>
<strong>Note: </strong>
All the feilds are required.
</p>
                        <div class="row">
                            <div class="col-md-6">
<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
    <input class="mdl-textfield__input" type="text" name="name" required="True">
    <label class="mdl-textfield__label" for="name">Your Name</label>
  </div>
                  
                            </div>
                            <div class="col-md-6">
<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
    <input class="mdl-textfield__input" type="email" name="Email" required="True">
    <label class="mdl-textfield__label" for="name">Your Best Email</label>
  </div>
                           
                            </div>
                        </div>
                        <div class="row">
<div class="mdl-textfield mdl-js-textfield">
    <textarea class="mdl-textfield__input" type="text" rows= "3" name="Message" required="true"></textarea>
    <label class="mdl-textfield__label" for="Message">What you want to say</label>
  </div>
                            
                        </div>
                        <!-- Raised button with ripple -->
<button type="submit" class="pull-right mdl-button--primary mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">
 <i class="material-icons">send</i> Send
</button>
                  
                    </form>

                </div>
            </div>

        </div>
    </section>
