
<nav id="footer">
        <div class="container">
            <div class="pull-left fnav">
                <p>Copyright © Nauman Umer 2016. All Rights Reserved.</p>
            </div>
            <div class="pull-right fnav hidden">
                <ul class="footer-social">
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                </ul>
            </div>
        </div>
    </nav>
