 <!-- Portfolio Section
    ==========================================-->
    <div id="tf-works">
        <div class="container"> <!-- Container -->
            <div class="section-title text-center center">
                <h4>Recent Work</h4>
                <div class="line">
                </div>
                <div class="clearfix"></div>
            </div>

            <!--<div class="categories">
                
                <ul class="cat">
                    <li class="pull-left"><h4>Filter by Type:</h4></li>
                    <li class="pull-right">
                        <ol class="type">
                            <li><a href="#" data-filter="*" class="active">All</a></li>
                            <li><a href="#" data-filter=".web">Web Design</a></li>
                            <li><a href="#" data-filter=".art">Digital Art</a></li>
                            <li><a href="#" data-filter=".app" >Softwares</a></li>
                        </ol>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>-->

<style>
.demo-card-square > .mdl-card__title {
  color: #fff;
  background: #46B6AC 15%;
}
</style>
<div class="row">
<div class="demo-card-square mdl-card mdl-shadow--2dp">
  <div class="mdl-card__title mdl-card--expand">
    <h2 class="mdl-card__title-text">Update</h2>
  </div>
  <div class="mdl-card__supporting-text">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    Aenan convallis.
  </div>
  <div class="mdl-card__actions mdl-card--border">
    <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
      View Updates
    </a>
  </div>
</div>
</div>
            <div class="row">

                <div class="col-sm-6 col-md-3 col-lg-3 app">
                    <div class="portfolio-item">
                        <div class="hover-bg">
                            <a href="gwbasic.net" target="_blank">
                                <div class="hover-text">
                                    <h4>GwBasic.Net</h4>
                                    <small>Software</small>
                                    <div class="clearfix"></div>
                                    <i class="fa fa-plus"></i>
                                </div>
                                <img src="img/portfolio/01.png" class="img-responsive" alt="...">
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-3 col-lg-3 app">
                    <div class="portfolio-item">
                        <div class="hover-bg">
                            <a href="#">
                                <div class="hover-text">
                                    <h4>Base Convertor</h4>
                                    <small>Software</small>
                                    <div class="clearfix"></div>
                                    <i class="fa fa-plus"></i>
                                </div>
                                <img src="img/portfolio/02.png" class="img-responsive" alt="...">
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-3 col-lg-3 art">
                    <div class="portfolio-item">
                        <div class="hover-bg">
                            <a href="https://drive.google.com/file/d/0B4IkMThHGIcGaFNVd014QXFuX2M/view?usp=sharing" target="_blank">
                                <div class="hover-text">
                                    <h4>Keyboard</h4>
                                    <small>Digital Art</small>
                                    <div class="clearfix"></div>
                                    <i class="fa fa-plus"></i>
                                </div>
                                <img src="img/portfolio/07.png" class="img-responsive" alt="...">
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-3 col-lg-3 art">
                    <div class="portfolio-item">
                        <div class="hover-bg">
                            <a href="https://drive.google.com/file/d/0B4IkMThHGIcGVVNxTUVyZmRaMGM/view?usp=sharing" target="_blank">
                                <div class="hover-text">
                                    <h4>Nauman Chip</h4>
                                    <small>Digital Art</small>
                                    <div class="clearfix"></div>
                                    <i class="fa fa-plus"></i>
                                </div>
                                <img src="img/portfolio/05.png" class="img-responsive" alt="...">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
