 <!-- Portfolio Section
    ==========================================-->
    <section>
        <div class="container"> <!-- Container -->
            <div class="section-title text-center center">
                <h4>Recent Work</h4>
                <div class="line">
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="row text-center">
<table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp table-striped" style="width:100%; margin:20px 0;">
  <thead>
    <tr>
      <th class="mdl-data-table__cell--non-numeric">Name</th>
      <th>Language</th>
    </tr>
  </thead>
  <tbody>
   {% assign projects = site.data.projects | sort %}
   {% for project in projects reversed %}
		 {% assign projectData = project[1] %}
    <tr onclick="window.location.href = {{ projectData.site }}">
      <td class="mdl-data-table__cell--non-numeric">{{ projectData.title }}</td>
      <td>{{ projectData.lang }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
               <a class="mdl-button--primary mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" href="/projects">
  All Projects
</a>
            </div>
        </div>
    </section>
