 <!-- Portfolio Section
    ==========================================-->
    <div id="tf-works">
        <div class="container"> <!-- Container -->
            <div class="section-title text-center center">
                <h4>Recent Work</h4>
                <div class="line">
                </div>
                <div class="clearfix"></div>
            </div>

            <div class="row text-center">
<p>You can see my recent work on the projects page.</p>
               <a class="mdl-button--primary mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" href="/projects">
  Go to Projects
</a>
            </div>
        </div>
    </div>
