<div style="margin:10px 0;">
<a class="mdl-button mdl-js-button mdl-button--primary mdl-button--raised mdl-js-ripple-effect" href="#" style="color:white; background:#55acee; margin:5px:">
  <i class="fa fa-twitter"></i> Tweet
</a>

<a class="mdl-button mdl-js-button mdl-button--primary mdl-button--raised mdl-js-ripple-effect" href="#" style="color:white; background:#3B5998; margin:5px:">
  <i class="fa fa-facebook"></i> Share
</a>

<a class="mdl-button mdl-js-button mdl-button--primary mdl-button--raised mdl-js-ripple-effect" href="#" style="color:white; background:#dd4b39; margin:5px:">
  <i class="fa fa-google-plus"></i> plus one
</a>

<a class="mdl-button mdl-js-button mdl-button--primary mdl-button--raised mdl-js-ripple-effect" href="#" style="color:white; background:#cb2027; margin:5px:">
  <i class="fa fa-pinterest-p"></i> Pin it
</a>

<a class="mdl-button mdl-js-button mdl-button--primary mdl-button--raised mdl-js-ripple-effect" href="#" style="color:white; background:#007bb5; margin:5px:">
  <i class="fa fa-linkedin"></i> Share
</a>
</div>
