<div class="container">
  <h3>Projects</h3>

  <div class="project" *ngFor="let project of projects">
    <h1>{{project.name}}</h1>
    <span class="desc">{{project.desc}}</span>
    <ul class="features" *ngIf="project.links">
      <li *ngFor="let link of project.links">
        <a [href]="link.href">{{link.name}}</a>
      </li>
    </ul>
    <p *ngIf="project.detail">{{project.detail}}</p>
    <ul class="tags" *ngIf="project.tags">
      <li *ngFor="let tag of project.tags">{{tag}}</li>
    </ul>
  </div>
</div>