---
---
<html lang="en">

<head>
	<meta charset="utf-8" />
	<link rel="icon" type="image/x-icon" href="/favicon.ico" />
	<meta name="viewport" content="width=device-width" />
	<title>Welcome to Astro</title>

	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500&display=swap" rel="stylesheet">
	<link rel="stylesheet" href={Astro.resolve('../styles/global.css')} />
</head>

<body>
	<div class="prose max-w-2xl">
		<h6 class="section-title">Welcome</h6>
		<h1 class="title">Nauman Umer</h1>
		<p class="font-sans text-sm subtitle">@nmanumr</p>

		<p class="text-justify">
		Hi there, I'm a web developer. I loves building and rebuilding programs using color, fonts, and illustrations.
		</p>
		<p class="text-justify">
		I'm a great admirer of attention to details and beautifily crafted designs that not only look great but also are easy to use. I specialize in creating user interfaces and user experiences utilizing the latest web technologies.
		</p>
		<p class="text-justify">
		I'm passionate about helping others, and I'm always looking for an opportunity to help someone out.
		</p>

		<div class="flex">
		</div>
	</div>
</body>

</html>
