footer {
    padding: 80px 0;
    text-align: center;
}

footer .sub-title {
    margin: 15px 0;
    letter-spacing: 2px;
    color: #333;
    font-size: 12px;
}

footer .social-links {
    margin-top: 50px;
    margin-bottom: 50px;
}

footer .social-links a {
    width: 40px;
    text-align: center;
    border: 1px solid #333;
    color: #333;
    border-radius: 50%;
    display: inline-block;
    margin: 10px;
    font-size: 20px;
    cursor: pointer;
    transition: all 0.3s;
}

footer .social-links a:focus,
footer .social-links a:hover{
    color: #fff;
    background-color: #333;
}

footer .social-links i{
    line-height: 40px;
}

footer .copyright{
    letter-spacing: 2px;
    font-size: 12px;
}