---
import PostLayout from "../../layouts/Post.astro";
import ProjectInfo from '../../components/ProjectInfo.astro';
import { Markdown } from 'astro/components';
---

<PostLayout content={{title: "Class Resources", image: "/images/classresources-2x.png"}}>
    <Markdown>
An app that provides a platform to share class learning resources especially for COMSATS Students.
Features include sharing class resources, course timetable, events, and reminders like assignments deadlines, etc.

<hr class="!mb-4" />

<ProjectInfo
    title="Class Resources (FA18-BCS-C)"
    subtitle="February 2019"
    codeUrl="https://github.com/nmanumr/fa18-bcs-c"
    siteUrl="https://fa18-bcs-c.web.app/"
    stack={['Angular', 'Ionic', 'Typescript', 'Firebase']}
/>

<video class="md:float-right md:ml-4 border border-gray-200 max-w-sm w-full mx-auto rounded-lg" autoplay muted loop playsinline>
    <source src="/images/fa18-bcs-c.mp4" type="video/mp4">
</video>

### Purpose and Goal

As a university student, a common problem faced while exam night study was that we couldn't find the
lecture slides and other class resources. So, I decided to create an application using where we can
find all the class resources in one place. So, I just sat down one weekend and developed a web
application using angular. And, I never thought this
[one-weekend side project](https://github.com/nmanumr/fa18-bcs-c/tree/e875cb6c5e375d3994bfd548d02d3561aa1dc9a0)
will actually be very helpful and boy did this help.


### Some goodies

* With firebase local data persistence and a service worker, the app could work offline too.
Although users can't download resources, they can see the list even without an internet connection.
* The app layout adopts between mobile and desktop browsers. On mobile devices, it starts to behave
like a regular mobile app and can be added to the home screen (thanks to a manifest file and a service worker).
I also created an Andriod app using the Ionic framework, but for some reason, the overall experience was
a little laggy.
* The dark mode was supported, and I guess this was the very first time I implemented a dark mode in any
of the applications.

### Lessons Learnt

This was probably my first developed app with some real users, so I had some sort of pressure to
maintain the project after its development so on this road I learned a lesson hard way that sometimes
the maintenance of a project can become much harder than actual development.

<div class="clear-both"></div>
<hr class="!mb-4" />

<ProjectInfo
    title="Class Resources Mobile App"
    subtitle="February 2019"
    codeUrl="https://github.com/nmanumr/comsats-class-resources"
    siteUrl="https://apkpure.com/comsats-class-resources/com.firebaseapp.comsats_cr"
    siteText="View APK *"
    stack={['flutter', 'dart', 'Firebase']}
    Collaborators={['ameerhmzx', 'ibtashamalee']}
/>

### Purpose and Goal

The initial class resources version was quite successful in a way that my fellows found it really
useful and it was serving its purpose quite well. But, even though everyone really liked the web app
the mobile app wasn't that great and was quite laggy. So, I decided to redesign the mobile app in
the next semester break.

My idea was that I'm going redesign the app that will not only work for my
class but also for every other class in the university and launching it at the start of the semester
will also be a great idea, right? yeah not completely, the only thing I didn't know was that the problem
also scales exponentially with userbase and features. But, first, let's talk about what I was able to
accomplish.

### New Features
* Now, students can have a personalized experience by logging in to the app. They will only be
presented with the only subjects they are enrolled in and also they can add or remove different courses if
they want.
* CRs could maintain the resource of their respective classes.
* Along with class resources, students could also receive notifications from CR and he can also add
tasks/events like assignments, quizzes, etc.
* Students could see their timetable easily from the home screen (without opening the app) with a
home screen widget.

### Issues Faced
* The first and foremost issue was about maintaining the resources. Previously I myself volunteered
to add resources like lectures slides, textbooks, etc. But, now I wanted the CRs to do so who were
quite lazy enough the do so.
* When @ameerhmzx and I added the home screen widget to the app, for some unexpected reasons app
started to crash randomly and frequently, thankfully we haven't announced our app publically and the
only users we had were our class fellows.
* The scaling issues hitted us the most, our app could work quite well for let's say a single
class but I wasn't scaling well which thankfully we realized quite early.
* On top of everything, it was the first time I ever developed an android app and, not to mention,
a framework named Flutter that is just released now.

Although the app had really cool features everyone
liked them but we had a lot of these internal issues that we just couldn't maintain this app.

### Lessons Learnt
With this project, I could easily add a new course to my degree "How Not to Start a New Project".

<div class="text-sm">* <b>Why it's not PlayStore's link?</b> This was one of many issues that happened with
this project, we lost our play store account.</div>

<hr class="!mb-4" />

<ProjectInfo
    title="Class Resources Web App"
    subtitle="February 2019"
    codeUrl="https://github.com/nmanumr/class-resources-web"
    stack={['Angular', 'Typescript', 'Firebase']}
/>

### Purpose and Goal

After the failure of the mobile app, I thought it would be great if I can develop a web app first,
and then after making it rock solid we can utilize the lesson we learned in the previous attempt to
develop a better mobile app next time or maybe just fix the existing app.

<hr class="!mb-4" />

<ProjectInfo
    title="ClassX"
    subtitle="February 2019"
    codeUrl="https://github.com/BlackArcX/classx_vue"
    siteUrl="https://classx.web.app/classes/FA18-BCS-B"
    stack={['Vue', 'TailwindCSS', 'Firebase']}
    Collaborators={['ibtashamalee', 'lablnet']}
/>

<video class="max-w-md w-full mx-auto rounded-lg border border-gray-200" autoplay muted loop playsinline>
    <source src="/images/classx.mp4" type="video/mp4">
</video>

### Purpose and Goal

At this point, I already lost interest in the project because due to covid19 the whole teaching
had been shifted to platforms like Google Classroom and Microsoft Teams where teachers themselves were
taking care of organizing the class resources (which I always wanted).
The only feature I really missed was the timetable on the home screen, which I'm, at the time of writing,
planning to create a separate app. So, I decided to do for just last time. Also, I just had been
tired of angular and material design so basically, it was just a redesign.

### Some Goodies

* Although I haven't done a lot in this project this was my first proper design project
and I liked how the design part of this project turned out.
* I also managed to add some admin features like adding resources etc.

### Lessons Learnt
Although there isn't much to say about this project I learned few new technologies quite level
during this project like Vuejs &amp; TailwindCSS (which I still love working with).

<div class="clear-both"></div>

    </Markdown>
</PostLayout>
