:host{
    display: block;
    position: relative;
    text-align: center;
    padding: 200px 0px;
    width: 100%;
}

.banner-title h1 {
    letter-spacing: 5px;
    font-size: 45px;
    font-weight: 300;
    line-height: normal;
    margin-bottom: 10px;
}

.banner-title h3{
    letter-spacing: 3px;
    font-size: 18px;
    font-weight: 400;
    margin-top: 0px;
}

@media (max-width: 700px){
    .banner-title h1{
        font-size: 30px;
        margin-bottom: 10px;
    }

    .banner-title h3{
        font-size: 16px;
        letter-spacing: 1px;
    }
}