---
layout: null
---
<!DOCTYPE html>
<html lang="en">
  {% include head.html %}

  <body>
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    {% include header.html %}
<div class="android-content mdl-layout__content">
        <div class="page-content">
    {{ content }}

    {% include footer.html %}

</div>
  </div>
    </div>
  
    

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script type="text/javascript" src="BootStrap/js/jquery.1.11.1.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script type="text/javascript" src="BootStrap/js/bootstrap.js"></script>
    <script type="text/javascript" src="BootStrap/js/SmoothScroll.js"></script>
    <script type="text/javascript" src="BootStrap/js/jquery.isotope.js"></script>

    <script src="BootStrap/js/owl.carousel.js"></script>

    <!-- Javascripts
    ================================================== -->
    <script type="text/javascript" src="BootStrap/js/main.js"></script>
    
  </body>
</html>
