---
layout: default
---
<div class="container">
   <div class="col-sm-8" style="padding:10px">
      <div class="mdl-card mdl-shadow--3dp" style="width:100%">
  <div class="mdl-card__supporting-text">
    {{ content }}
  </div>
  <div class="mdl-card__actions mdl-card--border pull-right">
    <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" href="/{{projectData.name}}">
      See More
    </a>
    </div>
</div>
   </div>

   <div class="col-sm-4" style="padding:10px">
      <div class="mdl-card mdl-shadow--3dp" style="width:100%">
         Ghdh
      </div>
   </div>
</div>
