---
layout: default
comments: true
---
<ol class="breadcrumb">
  <li><a href="http://naumanumer.github.io/">Home</a></li>
  <li><a href="http://naumanumer.github.io/blog">Blog</a></li>
  <li class="active">{{ page.title }}</li>
</ol>
<div class="container">
   <div class="col-sm-8" style="padding:10px">
      <div class="mdl-card mdl-shadow--3dp" style="width:100%">
 <div class="mdl-card__title mdl-card--expand">
    <h2 class="mdl-card__title-text">{{ page.title }}</h2>
  </div>
  <div class="mdl-card__supporting-text">
    {{ content }}
  </div>
  <div class="mdl-card__actions mdl-card--border pull-right">
    <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" href="/{{projectData.name}}">
      See More
    </a>
    </div>
</div>
   </div>

   <div class="col-sm-4" style="padding:10px">
      <div class="mdl-card mdl-shadow--3dp" style="width:100%">
         <div class="mdl-card__supporting-text">
{{ page.title }}
         </div>
      </div>
   </div>

{% if page.comments %}
<div id="disqus_thread"></div>
<script>

/**
*  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
*  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
/*
var disqus_config = function () {
this.page.url = {{page.url }}; // Replace PAGE_URL with your page's canonical URL variable
this.page.identifier = ascf; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
};
*/
(function() { // DON'T EDIT BELOW THIS LINE
var d = document, s = d.createElement('script');
s.src = '//naumanumer-github-io.disqus.com/embed.js';
s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
                                
 {% endif %}
</div>
