---
layout: default
---
<ol class="breadcrumb">
  <li><a href="http://naumanumer.github.io/">Home</a></li>
<li><a href="http://naumanumer.github.io/projects">Projects</a></li>
  <li class="active">{{page.title}}</li>
</ol>

<div class="container">
   <h2 class="mdl-card__title-text">{{ page.title }}</h2>
{% include socialbtn.html %}
<img src="{{page.img}}" alt="{{page.title}}" style="max-width: 100%; max-height: 100%; margin:20px 0;"/>
<div class="row">
<article class="col-sm-8">
{{content}}
</article>

<div class="col-sm-4" style="padding-top: 2px;">
<a class="mdl-button mdl-js-button mdl-button--primary mdl-button--raised mdl-js-ripple-effect"
   href="{{page.site}}"
   style="width: 100%; margin:20px 5px;"
   target="_blank" title="{{ page.title }} Site" rel="nofollow">
  <i class="material-icons">language</i> View Site
</a>
<dl>
{% for lang in page.langs %}
  <dt>{{lang.name}}</dt>
  <dd>
<div class="progress">
  <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: {{lang.weight}}%;">
    {{lang.weight}}%
  </div>
</div>
</dd>
{% endfor %}
</dl>

</div>
</div>
</div>
