---
import BaseHead from './BaseHead.astro';

const {title, description} = Astro.props;
---

<html class="h-full">
<head>
  <BaseHead title={title} description={description} />
</head>
<body class="h-full bg-default text-default max-w-2xl mx-auto px-4 sm:px-6 lg:px-8">
<!--<Header />-->
<slot />

<!--<Footer />-->

{!import.meta.env.DEV && <script src="https://www.googletagmanager.com/gtm.js?id=GTM-WZP86QG&"></script>}
</body>
</html>
