---
import BaseHead from './BaseHead.astro';
import Header from './Header.astro';
import Footer from './Footer.astro';


const {title, description} = Astro.props;
---
<html>
  <head>
    <BaseHead title={title} description={description} />
  </head>
  <body>
    <Header />

    <div class="min-h-screen">
        <slot />
    </div>

    <Footer />
  </body>
</html>