<footer class="mt-16">
    <div class="container flex items-center py-2 md:py-4 border-t border-gray-300">
        <svg class="h-12 w-12" fill="none" viewBox="0 0 96 96">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="4" d="M68 20.5V75L26 23M52 75L26 43v32h26z"/>
        </svg>
        <div class="flex-grow"></div>
        <div class="space-x-8 prose">
            <a class="underline" href="https://github.com/nmanumr">github</a>
            <a class="underline" href="https://twitter.com/nmanumr">twitter</a>
            <a class="underline" href="https://github.com/nmanumr/nmanumr.github.io">source code</a>
        </div>
    </div>
</footer>