<footer class="mt-16">
    <div class="container flex items-center py-2 md:py-4 border-t border-gray-300 justify-center xs:justify-start">
        <div class="text-sm text-gray-700 group cursor-default flex items-center space-x-1 py-3">
            <span>Made with </span>
            <svg class="h-4 w-4 group-hover:heart-beat text-red-500" viewBox="0 0 24 24">
                <path fill="currentColor" d="M14 20.408c-.492.308-.903.546-1.192.709-.153.086-.308.17-.463.252h-.002a.75.75 0 0 1-.686 0 16.709 16.709 0 0 1-.465-.252 31.147 31.147 0 0 1-4.803-3.34C3.8 15.572 1 12.331 1 8.513 1 5.052 3.829 2.5 6.736 2.5 9.03 2.5 10.881 3.726 12 5.605 13.12 3.726 14.97 2.5 17.264 2.5 20.17 2.5 23 5.052 23 8.514c0 3.818-2.801 7.06-5.389 9.262A31.146 31.146 0 0 1 14 20.408z"></path>
            </svg>
            <span>by Nauman Umer</span>
        </div>
        <div class="grow hidden xs:block"></div>
        <div class="space-x-8 prose hidden xs:block">
            <a class="underline text-sm hidden sm:inline" href="https://github.com/nmanumr">github</a>
            <a class="underline text-sm hidden sm:inline" href="https://twitter.com/nmanumr">twitter</a>
            <a class="underline text-sm" href="https://github.com/nmanumr/nmanumr.github.io">source code</a>
        </div>
    </div>
</footer>