<header>
    <div class="container flex items-center space-x-4 py-2 md:py-4 border-b border-gray-300">
        <a href="/" class="flex items-center space-x-2 text-sm sm:text-base">
            <svg class="h-8 w-8 sm:h-12 sm:w-12" fill="none" viewBox="0 0 96 96">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="4" d="M68 20.5V75L26 23M52 75L26 43v32h26z"/>
            </svg>
            <span>Nauman Umer</span>
        </a>
        <div class="grow"></div>
        <div class="space-x-8 prose hidden xs:block">
            <a class="underline text-sm sm:text-base" href="/#projects">Projects</a>
            <a class="underline text-sm sm:text-base" href="/#contact">Contact Me</a>
        </div>
    </div>
</header>