---
import BaseLayout from './Base.astro';
import DevTag from '../components/DevTag.jsx';


const {content} = Astro.props;
---

<BaseLayout title={content.title} description={content.description}>
  <section class="py-16" id="expertise">
    <div class="container container-sm prose prose-sm sm:prose">
      <div class="mb-10">
        <div class="w-full flex-shrink-0 mb-10">
          <div class="aspect-w-16 aspect-h-9">
            <img class="object-cover rounded !m-0" src="https://images.unsplash.com/photo-1498050108023-c5249f4df085?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=3452&q=80" />
          </div>
        </div>
        <h2 class="title">{content.title}</h2>
        <p class="text-sm subtitle">Thursday 12, Aug 2019</p>
      </div>

      <div class="mb-8">
        
      </div>

      <slot />
    </div>
  </section>
</BaseLayout>
